---
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
import { getCollection } from 'astro:content';
const wallpapers = await getCollection('wallpapers');

---

<div class="bg-gray-900">
    <header class="absolute inset-x-0 top-0 z-50">
      <nav class="flex items-center justify-between p-6 lg:px-8" aria-label="Global">
        <div class="flex lg:flex-1">
          <a href="/" class="h-12 w-auto">
            <span class="sr-only">VibrantVisionAI</span>
            <Image src={logo} alt="logo" class="h-12 w-auto" />
        </a>
        </div>
      </nav>

    </header>
  
    <div class="relative isolate pt-14">
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
      </div>
      <div class="py-24 sm:py-32 lg:pb-40">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl text-center">
            <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Wallpapers for your smartphone</h1>
            <p class="mt-6 text-lg leading-8 text-gray-300">
                Explore our stunning collection of smartphone wallpapers, created and designed through the power and creativity of artificial intelligence.
            </p>
          </div>
          <!-- For each Wallpaper in wallpapers -->
          {wallpapers.map((item) => (
            <Image
              src={item.data.image}
              loading="lazy"
              height='800'
              alt="Wallpaper with AI generated image. Filename: {item.data.image}"
              class="mx-auto text-center mt-16 rounded-md bg-white/5 shadow-2xl ring-1 ring-white/10 sm:mt-24" />
           ))}
        </div>
      </div>
    </div>
  </div>
  